.footer__copyright {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 90px auto 25px;
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    margin-top: 65px;
  }
}
